<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- 新 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <!-- 引入 ECharts 文件 -->
  <script src="{{ static_url('echarts.common.min.js') }}"></script>
  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  <title>sys monitor</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <dic class="col-md-12">
        <div class="page-header">
          <h1>System Monitor</h1>
        </div>
      </dic>
    </div>

    {% for plugin in plugins %}
      {% module Plugin(plugin) %}
    {% end %}

  </div>
<script type="text/javascript">
  var interval = Number({{ interval }});
  var utc_ts = interval;
  async_get(true);
  setInterval("async_get(false)", interval * 1000);

  function async_get (ishide) {
    {% for plugin in plugins %}
        $.get('/plugin/{{ plugin["title"] }}?utc_ts=' + String(utc_ts - interval + 2), function (data) {
          if (ishide == true) {
            {{ plugin["title"] }}_Chart.hideLoading();
          }
          {{ plugin["title"] }}_Chart.setOption(data);
        });
    {% end %}
    var d = new Date();
    utc_ts = d.getTime() / 1000 + d.getTimezoneOffset() * 60;
  }
</script>
</body>
</html>
